@page
@model e_commerce_website.Pages.AboutModel
@{
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<link href="css/About.css" rel="stylesheet" />

<div class="about-section paddingTB60 gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6">
				<div class="about-title clearfix">
					<h1>About <span>Apple Wholesale</span></h1>
					<h3>The best place to buy any Apple products </h3>
					<p class="about-paddingB">We all know how hard it is to find Apple products in this demanding market with a supply that seems to grow shorter. We at Apple Wholesale source our products from all around the world, allowing us to provide our customers with any Apple product they want. Every item we sell goes through a check to make sure they are in perfect working conditon no matter what. </p>
					<p>We were founded on December 2021, with our founder Ahnaf Azad having a business idea to provide supply to a niche in the market</p>
					<div class="about-icons">
						<ul>
							<li><a href="https://www.facebook.com/NottinghamTrentUniversity/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
							<li><a href="https://twitter.com/TrentUni?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
							<li> <a href="mailto:n0958463@my.ntu.ac.uk"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
						</ul>





					</div>
				</div>
			</div>
			<div class="col-md-5 col-sm-6">
				<div class="about-img">
					<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>